<?xml version="1.0" ?>
<robot name="rs013n" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find rs013n_description)/urdf/rs013n_macro.xacro"/>

  <!-- instantiate rs013n -->
  <xacro:rs013n prefix="" />

  <!-- Fix rs013n to world -->

  <link name="world"/>

  <joint name="world2base" type="fixed">
    <parent link="world"/>
    <child link="_base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>
